<!-- START MB SLIDER -->
<div class="MbSlider">
	<f:for each="{data.slides}" as="slide">
		<div class="slide">
			<f:for each="{slide.elements}" as="element">
				<f:if condition="{element.mode} == 1">
					<f:then>
						<p class="MbSliderTextElement"
						{element.fixed}
						data-position="{element.position_x},{element.position_y}"
						data-in="{f:translate(key: 'tx_mbslider_slide_elements.in_animation.I.{element.in_animation}')}"
						data-out="{f:translate(key: 'tx_mbslider_slide_elements.in_animation.I.{element.out_animation}')}"
						data-ease-in="{f:translate(key: 'tx_mbslider_slide_elements.ease_in.I.{element.ease_in}')}"
						data-ease-out="{f:translate(key: 'tx_mbslider_slide_elements.ease_in.I.{element.ease_out}')}"
						data-delay="{element.delay}"
						{element.step}
						{element.special}
						{element.time_speed}
						{element.style} >{element.slide_text}</p>
					</f:then>
					<f:else>
						<img class="MbSliderImageElement" src="{element.image.rows.0.file_path}{element.image.rows.0.file_name}" alt=""
						{element.fixed}
						data-position="{element.position_x},{element.position_y}"
						data-in="{f:translate(key: 'tx_mbslider_slide_elements.in_animation.I.{element.in_animation}')}"
						data-out="{f:translate(key: 'tx_mbslider_slide_elements.in_animation.I.{element.out_animation}')}"
						data-ease-in="{f:translate(key: 'tx_mbslider_slide_elements.ease_in.I.{element.ease_in}')}"
						data-ease-out="{f:translate(key: 'tx_mbslider_slide_elements.ease_in.I.{element.ease_out}')}"
						data-delay="{element.delay}"
						{element.step}
						{element.special}
						{element.time_speed} />
					</f:else>
				</f:if>
			</f:for>
		</div>
	</f:for>
	<div class="fs_loader"></div>
</div>
<!-- END MB SLIDER -->